/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}

#ranking-rank,
#ranking-country,
#ranking-points {
  width: 25px;
}

#ranking-name,
#ranking-team {
  width: 150px;
}

#tournament-name {
  width: 300px;
}

#tournament-date {
  width: 100px;
}

#results-rank,
#results-points {
  width: 25px;
}

#results-name {
  width: 150px;
}

#calendar-date,
#calendar-location,
#calendar-name,
#calendar-series {
  width: 150px;
}

.custom-table tr.ranking-row,
.custom-table tr.tournament-row,
.custom-table tr.result-row,
.custom-table tr.calendar-row {
  background-color: #efefef;
  border: white 2px solid;
}

.custom-table tr.tournament-row>td>a {
  color:black;
  text-decoration: none;
}

.custom-table tr.tournament-row>td>a:hover {
  color:black;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.partner {
  align-items: center;
  height: 100%;
}

.partner>a {
  height: 75px;
}

.partner>p {
  text-align: center;
}

.partner>a>img {
  max-height: 75px;
  max-width: 105px;
  margin: auto;
}

#menu-logo {
  max-height: 50px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

#footer-banner {
}

#footer-bottom {
  max-width: 1500px;
}

#footer-logo {
  max-height: 50px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.table-button {
  padding:10px;
}

.table-button>button {
  background-color: white;
  border: 0;
}

.table-button>button>img {
  height: 20px;
  width: 20px;
}

.table-button>button:hover {
  cursor: pointer;
}